@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



.container {
    margin: auto;
    max-width: 750px;
    padding-top: 15px;
}

img {
    width: 32%;
    height: fit-content;
    margin-top: 4%;
    border-radius: 10px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25)
}




h1,
h2 {
    font-weight: 500;
    font-size: 35px;
    color: black;
}

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background: #f1f1f1;
    color: #0f141e;

}

.card {
    border: 2px solid #0f141e;
    border-radius: 10px;
    width: 550px;
    margin-bottom: 20px;
    padding: 15px;
    line-height: 25px;
}

.card h3 {
    margin-bottom: 15px;

}


.info {
    margin-bottom: 20px;
    display: flex;
}

@media (max-width: 650px) {

    .info {
        text-align: left;
        width: 100%;
        display: block;
    }
}


.info-text {
    margin-left: 20px;
}

.info-text h3 {
    margin-bottom: 15px;
}

.info-text p {
    line-height: 25px;
}

.hobby {
    background-color: rgb(171, 245, 245);

}

.experience {
    background-color: rgb(187, 246, 213);
}

.courses {
    background-color: rgb(235, 212, 157);
}

tbody,
li {
    font-style: italic;
}



a {
    text-decoration: none;
    color: #0f141e;
}

a:active {
    text-decoration: underline;
    transition: 2s;

}

a:visited {
    color: lightslategray;
}

.tg:hover {
    color: rgb(40, 168, 234);
}

.wt:hover {
    color: rgb(87, 207, 100);
}

.btn {
    background-color: rgb(171, 245, 245);
    border: none;
    color: #0f141e;
    padding: 15px 25px;
    border-radius: 10px;
    font-size: medium;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(187, 246, 213);

}

.list-1 {
    margin: 0;
    padding: 0;
    list-style: none;


}

.list-1 li {
    color: rgb(52, 50, 50);
    margin-bottom: 10px;
}

.list-1 li:hover {
    opacity: 0.8;
}

.list-2 {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list-2 li {
    margin-bottom: 10px;

}

.list-2 a {
    color: rgb(52, 50, 50);
}

.list-2 a:hover {
    opacity: 0.8;
}

.table {
    width: 100%;
}

.table td {
    padding-bottom: 10px;


}

.table td:nth-child(2),
.table td:nth-child(3) {
    opacity: 0.8;
}

.form h3 {
    text-align: center;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #0f141e;
}

.form-group input,
textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #0f141e;
    color: #0f141e;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}

.form-group {
    margin-bottom: 20px;
}

.form-row {
    margin-top: 30px;
}

.form-row .form-group {
    display: inline-block;
    width: 47%;

}

.btn {
    margin: auto;
    width: 27%;
    display: block;


}

@media (max-width: 650px) {

    .form-row .form-group {
        display: block;

        width: 100%; 
    }

    .form-group {
        margin-bottom: 35px;
    }
    
    .avatar {
        margin: 0 auto ;
        display: block;
    }
    h1 {   
        text-align: center;       
    }
}


/* p {
   /* Стилизуй параграфы с общей информацией про тебя.
   и другие общие стили, которые ты захочешь
   color (например: #0f141e)
background (например: #f1f1f1) --> 
}*/